.travelRequestForm--main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
}

.travelRequestForm--form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.travelRequestForm--form h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.travelRequestForm--form_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.travelRequestForm--form_text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

.travelRequestForm--form_input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
}

.travelRequestForm--form_input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.travelRequestForm--form_input::placeholder {
    color: #aaa;
}

.travelRequestForm--form_button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.travelRequestForm--form_button:hover {
    background-color: #0056b3;
}