.travelOptions_main {
  display: flex;
  justify-content: center;
}

.travelOptions_drivers--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 10px 1rem;
}

.travelOptions_drivers--list {
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  flex: 1;
}

.pagination-arrow {
  background: none;
  border: none;
  font-size: 36px;
  color: #4CAF50;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-arrow:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-arrow:hover:not(:disabled) {
  transform: scale(1.1);
}

.left-arrow {
  margin-right: 5px;
}

.right-arrow {
  margin-left: 5px;
}